$white: #fff;
$ofwhite: #f5f5f9;
$border-color: #ededed;
$background-title: #fcfcfc;
$black: #000;
$oflihte:#dfdfe2;
$site-color: #4c4b4b;
$red: #bd151b;
$redtow:#8e0e13;
$green:#3dc361;
$font-size-small: 15px;
$facebook: #3b5998;
$whatsapp: #189d0e;
$twitter: #00acee;
$instagram: #8d5b46;
$youtube: #c4302b;
$rss: #ee802f;
$linkedin: #007fb1;
$gplus: #dd4b39;